<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    <title>Big Houses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<!-- CONTENT -->
<body>
    <!-- Link to / -->
    <header class="header">
        <div class = "header-left">
            <a href="/"> <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"> </a>
            <a href="/"><img src="{{ url_for('static', filename='images/insta.png') }}" alt="bigHouses"> </a> <h2>Big Houses</h2>
        </div>

        <!-- Include a link to /explore/ and /users/{logname}/. -->
        <div class = "header-right">
            <a href = "/explore/"> <h3>explore</h3></a>
            <a href = "/users/{{ logname }}/"> <h3> {{ logname }} </h3></a>
        </div>
    </header>

    <a href="/users/{{ logname }}/"><h4>{{logname}}</h4></a>
    <img src = "/uploads/{{user.filename}}" alt ="profile">

    <form action="{{ url_for('accounts')}}?target=/accounts/edit/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*"/>
        <input type="text" name="fullname" value="{{user.fullname}}" required/>
        <input type="text" name="email" value="{{user.email}}" required/>
        <input type="submit" name="update" value="submit"/>
        <input type="hidden" name="operation" value="edit_account"/>
    </form>

    <a href="/accounts/password/">Change password</a>
    <a href="/accounts/delete/">Delete account</a>

</body>