<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Big Houses</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/explore.css') }}">
    </head>

    
    <body>
        <header class="header">
        <div class="header-left">
            <a href="/"> <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"> </a>
            <h2>Big Houses</h2>
        </div>

        <div class="header-right">
            <a href="/explore/" class="nav-link">Explore</a>
            <a href="/users/{{ logname }}/" class="nav-link active">{{ logname }}</a>
            <form action="/accounts/logout/" method="POST" style="display:inline;">
                <button type="submit" class="nav-link logout-btn">Log out</button>
            </form>
        </div>
    </header>
        

       <div class="feed">
        <h1 class = "explore_header">Explore Listings</h1>
        {% if posts %}
            {% for post in posts %}
            <div class="post">
                <div class="post-header">
                    <img src="{{ url_for('uploaded_file', filename=post.user_image) }}" alt="{{ post.name }}">
                    <a href="/users/{{ post.uniqname }}/">{{ post.name }}</a>
                </div>
                <a href = "/posts/{{ post.housing_id }}">
                <div class="post-body">
                    <img src="{{ url_for('uploaded_file', filename=post.house_image) }}" alt="House image">
                </div>
                <div class="post-details">
                    <p class="rent">Rent: ${{ post.monthly_rent }}</p>
                    <p>Address: {{ post.street_address }}, {{ post.city }}, {{ post.state }} {{ post.zip_code }}</p>
                </div>
                </a>
            </div>
            {% endfor %}
        {% else %}
            <p class="no-posts">No matches</p>
        {% endif %}
        </div>

    </body>
</html>
