<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Big Houses</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header class="header">
            <div class = "header-left">
                <a href="/"><img src="/static/images/logo.png" alt="Logo"> </a>
                <a href="/"><img src= "{{ url_for('static', filename = 'images/insta.png' )}}" alt="bigHouses"> <h2>482</h2></a>
            </div>
    
            <!-- Include a link to /explore/ and /users/{logname}/. -->
            <div class = "header-right">
                <a href = "/explore/"> <h3>explore</h3></a>
                <a href = "/users/{{ logname }}/"> <h3> {{ logname }} </h3></a>
            </div>
        </header>

        <div id="reactEntry">
            Loading ...
        </div>
    <!-- Load JavaScript -->
        <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    </body>
</html>
