<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Houses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="welcome-container">
        <div class="welcome-header">
            <h1>Big Houses</h1>
            <p>Find your perfect Wolverine den! One platform, every semester, every need.</p>
            <a href="{{ url_for('show_login') }}" class="start-btn">Get Started</a>
        </div>
    </div>
  </body>
</html>